@font-face {
    font-family: 'ImcreSoojin';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.3/ImcreSoojin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24Dangdanghae';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.2/Cafe24Dangdanghae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TmoneyRoundWindExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body,html{
  margin: 0px;
  padding: 0px;
  min-width:1000px;
}
  
img{
	min-width:1000px;
}

video{
	min-width:1000px;
}

body{
   font-family: 'GmarketSansMedium';
  /* font-family: 'Nanum Brush Script'; */
}

a{
  text-decoration: none;
  color:black;
}
.main_title{
	display:flex;
	font-family: 'TmoneyRoundWindExtraBold';
	font-size:1.3em;
	color:grey;
}

li{
  list-style: none;
}
hr{
  margin: 0;
  padding: 0;
}

nav{
  width: 100%;
  height: 55px;
  postion:absolute;
}


footer{
  margin-top:5%;
  width: 100%;
  height: 10%;
}
.title{
  top:0;
  position:sticky;
  background-color: white;
  /* opacity: 0.3; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px -1px 20px -1px #ddd;
  z-index: 1;
  /* padding: 8px 10px; */
  /* background-color: #D7AC87; */

}

.navbar{
  font-size:20px;
  flex-direction: column;
  padding: 8px 24px;
  align-items: flex-start;

}


.login{
  display:flex;
  list-style: none;
  margin-right: 10px;
}

.login li{
  padding: 5px 5px;
  color: black;
  margin: 10px;
  font-size: 1em;
}



.menu{
  display: flex;
  justify-content: center;
  background: #fff;
  width:100%;
  right: -100%;
  position: fixed;
  transition: all .60s;
  z-index: 2;
  opacity: 0.7;
  height:20%;
  font-size: 1.3em;
}

.menu.show{

  right:0;
}

.menu ul li{
  margin-top : 50px;
}
.foot{
  margin:0;
  padding:0;
  border:0;
}
.mm{
  width:100%;
}

.menu ul{
  margin: 20px;
}
.foot{
  background: #5a5a5a;
  display: flex;
}

.foot_menu{
  margin :0;
  display: flex;
}

article{

      float: left;
   }
   article>video{
      postion: relative;
      width:100%;

   }
   article>pre{
      /* font-family: 'Do Hyeon', sans-serif; */
      font-family: 'ImcreSoojin';
      font-size: 2.2em;
      position: absolute;
      color: white;
      margin-top: 20%;
      margin-left: 10%;

   }

   article>pre>span{
      font-size: 1em;
   }
  footer{

    clear: both;
  }

footer>pre{
  /* font-family: 'Black Han Sans', sans-serif; */
  font-family: 'ImcreSoojin';
  box-shadow: 0px 2px 10px 0px #b4b4b4 inset;
  font-size: 1.0em;
}

.m_video{
	width:1900px;
	text-align:center;
	
}

.m_container{
	width:100%;
	margin:0 auto;
}
.m_container2{
	width:80%;
	height:30%;
	margin:10% auto;
	display:flex;
	margin-bottom:100px;
}
.s_container1
{
	width:65%;
	padding: 70px 0;
	font-size:1em;
}
.s_container2
{
	width:35%;
}
.s_container2 img{
	object-fit:cover;
	width:100%;
}
.line{
	width:10%; 
	margin-left:10%;
	border-left:3px solid #eeeeee;
}
.m_title{
	font-size:2.7em;
	color:grey;
	border-bottom:3px solid #ff7276;
	margin-bottom:7px;
}
.main_button1{
	display:block;
	text-align:center;
	margin-top:10px;
	margin-right:10px;
	padding-top:15px;
	font-family: 'GmarketSansMedium';
	width:140px;
	height:40px;
	border:0;
	border-radius:7px;
	background-color:#ff7276;
	color:white;
	font-size:0.8em;
}
.main_button1:hover{
	
	margin-top:10px;
	margin-right:10px;
	font-family: 'GmarketSansMedium';
	width:140px;
	height:40px;
	border:3px solid #ff7276;
	border-radius:7px;
	background-color:white;
	color:#ff7276;
	font-size:0.8em;
}
.s_container1_1
{
	display:flex;
}
.m_p1{
	font-size:1.6em;
}
.main_button2{
	display:block;
	text-align:center;
	font-family: 'GmarketSansMedium';
	padding-top:7px;
	width:125px;
	height:30px;
	border:0;
	border-radius:7px;
	background-color:#ff7276;
	color:white;
	font-size:0.45em;
	position: relative; 
	z-index: 999999;
}
.main_button2:hover{
	display:block;
	text-align:center;
	font-family: 'GmarketSansMedium';
	padding-top:7px;
	width:125px;
	height:30px;
	border:0;
	border-radius:7px;
	background-color:#ff393f;
	color:white;
	font-size:0.45em;
}
.main_button3{
	display:block;
	text-align:center;
	font-family: 'GmarketSansMedium';
	padding-top:7px;
	width:125px;
	height:60px;
	border:0;
	border-radius:7px;
	background-color:#ff7276;
	color:white;
	font-size:0.45em;
	position: relative; 
	z-index: 999999;
}
.main_button3:hover{
	display:block;
	text-align:center;
	font-family: 'GmarketSansMedium';
	padding-top:7px;
	width:125px;
	height:60px;
	border:0;
	border-radius:7px;
	background-color:#ff393f;
	color:white;
	font-size:0.45em;
}
