@font-face {
    font-family: 'ImcreSoojin';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.3/ImcreSoojin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
     font-family: 'NIXGONM-Vb';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/NIXGONM-Vb.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.mP_wrap{
	width:96%;
	margin:0 auto;
	background-color:white;
	border-left: 1.5px solid #eeeeee;
	border-right: 1.5px solid #eeeeee; 
	box-shadow:0px 3px #eeeeee;
	
}
.mP_container{
	width:100%;
	padding-bottom:5%;
}
.mP_sub_container{
	width:50%;
}

.mP_main_title{
	display:block;
	text-align:left;
	padding-top: 30px;
	padding-bottom: 30px;
	font-size:1.8em;
	color:#ff7578;
	text-align:center;
}
.mP_info{
	padding:10px;
	display:flex;
}
.mP_info span{
	font-family: 'IBMPlexSansKR-Regular';
	font-size:0.9em;
	font-weight: bold;
	color:#000000;
	width:80px;
	text-align:left;
	display:block;
}
.button1{
	font-family: 'GmarketSansMedium';
	width:80px;
	height:30px;
	font-size:0.8em;
	border-top:0;
	border-left:0;
	border-right:2px solid #ff7276;
	border-bottom:2px solid #ff7276;
	float:left;
	background-color:white;
}